@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.tishixinxi {
  position: absolute;
  right: 14px;
  bottom: 56px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 50%;
  z-index: 1600;
  background-color: red;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.tishigeshu {
  position: absolute;
  right: 14px;
  bottom: 110px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
   z-index: 1600;
  background-color: red;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.popover2 {
  top: 30% !important; 
  max-height: 400px;
  min-height: 100px;
  overflow: auto;
  border-radius: 12px;
  width: 320px !important;
  left: 50% !important;
  margin-left: -160px !important;
}

.popover3 {
  height: 350px !important;
  width: 320px !important;
  left: 50% !important;
  top: 50% !important;
  margin: -175px 0 0 -160px !important;
  border-radius: 15px !important;
  position: absolute;
}

.mesglist {
  padding: 10px;
  border-bottom: 2px solid #6396e8;
}

.textmesg {
  margin: 20px;
  border: 1px solid blue;
  width: 279px;
  height: 150px;
  padding: 0;
  font-size: 20px;
}

.titlemesg {
  margin: 20px;
  width: 280px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}

.classinfos {
  font-size: 18px;
  color: #ed316d;
}

.readed {
  color: black;
}

.nomessagediv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.textend {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #6396e8;
}

#mainsubmitcomment {
  width: 80px;
  height: 35px;
  left: 50%;
  margin: 20px 0 0 -40px;
}